
  <button mat-raised-button>
    <mat-icon>keyboard_backspace</mat-icon> Back to Option List </button>

<mat-divider></mat-divider>
<br>

<div class="myCard">

  <div>
    <mat-card fxLayout="row" fxLayoutAlign="space-between start">

      <div fxFlex="35" fxLayout="column" >
        <mat-form-field appearance="fill">
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <div fxFlex="15">
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Input</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
      </div>
      <div fxFlex="15">
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
    </div>

      <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <button mat-raised-button>Cancel</button>
        <button mat-raised-button>Save</button>
        <button mat-raised-button>NUEVA MODIFICACION</button>
      </div>




    </mat-card>


  </div>


</div>














