
  <button mat-raised-button>
    <mat-icon>keyboard_backspace</mat-icon> Back to Option List </button>

<mat-divider></mat-divider>
<br>

<mat-card class="myCard" fxLayout="row" fxLayoutAlign="space-between start">
  <div >
    <mat-card-title>Creating Options</mat-card-title>
  </div>
  <div fxLayoutGap="10px">
    <button mat-raised-button>Cancel</button>
    <button mat-raised-button disabled>Saved</button>
  </div>
</mat-card>
<hr>

<div class="myCard">

    <mat-card fxLayout="row" fxLayoutGap.gt-lg="20px">

      <div fxFlex="40" fxLayout="column" >

        <mat-form-field appearance="fill">
          <mat-label>Brand Name</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Internal Name*</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Display Name*</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>

            <mat-slide-toggle>
              Required
            </mat-slide-toggle>

      </div>

      <div fxLayout="row" fxLayoutGap="20px">
        <div>
            <div fxLayout="column">

             <mat-form-field appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field  appearance="fill">
                <mat-label>Min Item Selected</mat-label>
                <input matInput disabled>
              </mat-form-field>

              <mat-form-field  appearance="fill">
                <mat-label>Min Item Quantity</mat-label>
                <input matInput disabled>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Min Aggregated Quantity</mat-label>
                <input matInput disabled>
              </mat-form-field>


                <mat-form-field width="100" appearance="fill">
                  <mat-label>Step</mat-label>
                  <input matInput disabled>
                </mat-form-field>

              </div>
        </div>

        <div>
          <div fxLayout="column">

            <mat-form-field appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Min Item Selected</mat-label>
              <input matInput disabled>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Min Item Quantity</mat-label>
              <input matInput disabled>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Min Aggregated Quantity</mat-label>
              <input matInput disabled>
            </mat-form-field>

          </div>
      </div>

      </div>

    </mat-card>


</div>
<hr>
<mat-card class="myCard" fxLayout="row" fxLayoutAlign="space-between start">
<button mat-raised-button color="primary">Add Item</button>
</mat-card>














